<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>narayan.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>narayan.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookEntry</servlet-name>
        <servlet-class>store.BookEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LaptopEntry</servlet-name>
        <servlet-class>store.LaptopEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteEntry</servlet-name>
        <servlet-class>store.NoteEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectEntry</servlet-name>
        <servlet-class>store.ProjectEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>narayan.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookEntry</servlet-name>
        <url-pattern>/bookentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LaptopEntry</servlet-name>
        <url-pattern>/laptopentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteEntry</servlet-name>
        <url-pattern>/noteentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectEntry</servlet-name>
        <url-pattern>/projectentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           50
        </session-timeout>
    </session-config>
</web-app>
